{% extends 'base.html' %}
{% block content %}
<style>
    .form-scroll-container {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
    .form-scroll-container > div {
        display: inline-block;
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
    }
</style>

<div id="form-container">
    <div class="form-scroll-container">
        <table>
            <thead>
            <tr>
                <th scope="col" class="required">CMO</th>
                <th scope="col" class="required">Manufacturing Site</th>
                <th scope="col" class="required">Address</th>
                <th scope="col" class="required">Country</th>
                <th scope="col" class="required">Offered Services</th>
                <th scope="col" class="required">Manufactured product types</th>
                <th scope="col" class="required">Accreditations</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <td>
                        <div style="width: 150px; margin-right: 10px;">
                            {{ form.cmo(class="form-control") }}
                        </div>
                    </td>

                    <td>
                        <div style="width: 150px; margin-right: 10px;">
                            {{ form.manufacturing_site(class="form-control") }}
                        </div>
                    </td>
                    <td>
                        <div style="width: 150px; margin-right: 10px;">
                            {{ form.address(class="form-control") }}
                        </div>
                    </td>
                    <td>
                        <div style="width: 150px; margin-right: 10px;">
                            {{ form.country(class="form-control") }}
                        </div>
                    </td>
                    <td>
                        {% for service in context.get("services") %}
                        <div class="form-check">
                            <input type="checkbox" name="offered_choice" value="{{ service.id }}"
                                   id="service_{{ service.id }}" class="form-check-input"
                                   {% if service in company.offered_choice.all() %} checked {% endif %}>
                            <label for="service_{{ service.id }}" class="form-check-label">{{ service.service_name
                                }}</label>
                        </div>
                        {% endfor %}
                    </td>
                    <td>{% for product_type in context.get("manufactured_product_types") %}
                        <div class="form-check">
                            <input type="checkbox" name="manufactured_product_type" value="{{ product_type.id }}"
                                   id="product_type_{{ product_type.id }}" class="form-check-input"
                                   {% if product_type in company.manufactured_product_type.all() %} checked {% endif %}>
                            <label for="product_type_{{ product_type.id }}" class="form-check-label">{{
                                product_type.product_name }}</label>
                        </div>
                        {% endfor %}
                    </td>

                    <!-- Accreditations -->
                    <td>
                        {% for accreditation in context.get("all_accreditations") %}
                        <div class="form-check">
                            <input type="checkbox" name="accreditations" value="{{ accreditation.id }}"
                                   id="accreditation_{{ accreditation.id }}" class="form-check-input"
                                   {% if accreditation in company.accreditations.all() %} checked {% endif %}>
                            <label for="accreditation_{{ accreditation.id }}" class="form-check-label">{{
                                accreditation.accreditation_name }}</label>
                        </div>
                        {% endfor %}
                    </td>

                    <!-- Sterile Liquide -->
                    <td>
                        {% for sterile_liq in context.get("all_sterile_liquide") %}
                        <div class="form-check">
                            <input type="checkbox" name="sterile_liquide" value="{{ sterile_liq.id }}"
                                   id="sterile_liquide_{{ sterile_liq.id }}" class="form-check-input"
                                   {% if sterile_liq in company.sterile_liquide.all() %} checked {% endif %}>
                            <label for="sterile_liquide_{{ sterile_liq.id }}" class="form-check-label">{{
                                sterile_liq.sterile_liq_name }}</label>
                        </div>
                        {% endfor %}
                    </td>

                    <!-- Sterile Lyophilized -->
                    <td>{% for sterile_lyo in context.get("all_sterile_lyophilized") %}
                        <div class="form-check">
                            <input type="checkbox" name="sterile_lyophilized" value="{{ sterile_lyo.id }}"
                                   id="sterile_lyophilized_{{ sterile_lyo.id }}" class="form-check-input"
                                   {% if sterile_lyo in company.sterile_lyophilized.all() %} checked {% endif %}>
                            <label for="sterile_lyophilized_{{ sterile_lyo.id }}" class="form-check-label">{{
                                sterile_lyo.lyophilized_name }}</label>
                        </div>
                        {% endfor %}
                    </td>
                    <td>{% for item in context.get("all_non_sterile_liquides") %}
                        <div class="form-check">
                            <input type="checkbox" name="non_sterile_liquid" value="{{ item.id }}"
                                   id="non_sterile_liquide_{{ item.id }}" class="form-check-input"
                                   {% if item in company.non_sterile_liquide.all() %} checked {% endif %}>
                            <label for="non_sterile_liquide_{{ item.id }}" class="form-check-label">{{ item.liquide_name
                                }}</label>
                        </div>
                        {% endfor %}
                    </td>
                    <td>{% for item in context.get("all_non_sterile_solids") %}
                        <div class="form-check">
                            <input type="checkbox" name="non_sterile_solid" value="{{ item.id }}"
                                   id="non_sterile_solid_{{ item.id }}" class="form-check-input"
                                   {% if item in company.non_sterile_solid.all() %} checked {% endif %}>
                            <label for="non_sterile_solid_{{ item.id }}" class="form-check-label">{{ item.solid_name
                                }}</label>
                        </div>
                        {% endfor %}
                    </td>
                    <td>{% for item in context.get("all_non_sterile_semi_solid") %}
                        <div class="form-check">
                            <input type="checkbox" name="non_sterile_semi_solid" value="{{ item.id }}"
                                   id="non_sterile_semi_solid_{{ item.id }}" class="form-check-input"
                                   {% if item in company.non_sterile_semi_solid.all() %} checked {% endif %}>
                            <label for="non_sterile_semi_solid_{{ item.id }}" class="form-check-label">{{
                                item.semi_solid_name }}</label>
                        </div>
                        {% endfor %}
                    </td>
                    <td>
                        {% for item in context.get("all_primary_packaging") %}
                        <div class="form-check">
                            <input type="checkbox" name="primary_packaging" value="{{ item.id }}"
                                   id="primary_packaging_{{ item.id }}" class="form-check-input"
                                   {% if item in company.primary_packaging.all() %} checked {% endif %}>
                            <label for="primary_packaging_{{ item.id }}" class="form-check-label">{{
                                item.pri_packaging_name
                                }}</label>
                        </div>
                        {% endfor %}
                    </td>
                    <td>
                        {% for item in context.get("all_secondary_packaging") %}
                        <div class="form-check">
                            <input type="checkbox" name="secondary_packaging" value="{{ item.id }}"
                                   id="secondary_packaging_{{ item.id }}" class="form-check-input"
                                   {% if item in company.secondary_packaging.all() %} checked {% endif %}>
                            <label for="secondary_packaging_{{ item.id }}" class="form-check-label">{{
                                item.sec_packaging_name }}</label>
                        </div>
                        {% endfor %}
                    </td>


                    <td>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                <li>{{field}}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}